/appendix

non_stroke_split_version/backend/alg/style_transfer/stablediffusion/base_model/*
non_stroke_split_version/backend/alg/style_transfer/zi2zi/base_train_data/*
non_stroke_split_version/backend/data/zips/*
non_stroke_split_version/backend/data/upload_imgs/*
non_stroke_split_version/backend/result_data/*

non_stroke_split_version/backend/__pycache__/*
non_stroke_split_version/backend/alg/style_transfer/__pycache__/*
non_stroke_split_version/backend/alg/style_transfer/zi2zi/__pycache__/*
non_stroke_split_version/backend/alg/style_transfer/zi2zi/data/__pycache__/*
non_stroke_split_version/backend/alg/style_transfer/zi2zi/model/__pycache__/*
non_stroke_split_version/backend/alg/style_transfer/zi2zi/test_pic/*
non_stroke_split_version/backend/alg/style_transfer/zi2zi/utils/__pycache__/*
non_stroke_split_version/frontend/node_modules/*
non_stroke_split_version/frontend/dist/*


stroke_split_version/backend/alg/style_transfer/stablediffusion/base_model/*
stroke_split_version/backend/alg/style_transfer/zi2zi/base_train_data/*
stroke_split_version/backend/data/zips/*
stroke_split_version/backend/data/upload_imgs/*
stroke_split_version/backend/result_data/*
stroke_split_version/frontend/node_modules/*
stroke_split_version/frontend/dist/*


stroke_split_version/backend/__pycache__/*
stroke_split_version/backend/alg/style_transfer/__pycache__/*
stroke_split_version/backend/alg/style_transfer/zi2zi/__pycache__/*
stroke_split_version/backend/alg/style_transfer/zi2zi/data/__pycache__/*
stroke_split_version/backend/alg/style_transfer/zi2zi/model/__pycache__/*
stroke_split_version/backend/alg/style_transfer/zi2zi/test_pic/*
stroke_split_version/backend/alg/style_transfer/zi2zi/utils/__pycache__/*
stroke_split_version/frontend/node_modules/*
stroke_split_version/frontend/dist/*
stroke_split_version/stroke_marker/node_modules/*
stroke_split_version/stroke_marker/dist/*

stroke_split_version/backend/alg/stroke_assemble/__pycache__/*
stroke_split_version/backend/alg/stroke_assemble/segmentation/__pycache__/*
stroke_split_version/backend/alg/stroke_assemble/segmentation/data_loader/__pycache__/*
stroke_split_version/backend/alg/stroke_assemble/segmentation/encoders/__pycache__/*
stroke_split_version/backend/alg/stroke_assemble/segmentation/example/*
stroke_split_version/backend/alg/stroke_assemble/util/__pycache__/*
